body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans","Arial" sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  background-color: #FFFFFF;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

.header-main {
  font-size: 17px;
  background-color: #293449;
}

.header-main a {
  color: #ffffff;
}

.main-header{
  background-color: #f3f7f8;
  font-family: "Cuprum","Arial" sans-serif;
}

.header-info-description{
  font-style: italic;
  color: #ee3643;
}

.header-info-phone {
  color: #ee3643;
  font-size: 21px;
}

.header-info-adress{
  color: #32425c;
  font-size: 14px;
}

.header-profile-link {
  font-size: 17px;
  background-color: #ffffff;
  color: #000000;
}

.header-profile-link:hover {
  color: #ee3643;
}
.header-profile-link:active {
  color: #c5c5c5;
}

.header-profile-name:hover {
  color: #32425c;
}

.header-profile-name:active {
  color: #c5c5c5;
}

.header-main-item {
  background-color: #293449;
}

.header-main-item:hover {
  background-color: #212a3a;
}
.header-main-item:active  {
  background-color: #161d29;
  color: #8b8e94;
}
.header-main-links, .header-profile-list {
  list-style: none;
}

.header-profile-links {
  text-decoration:underline;
}

.profile:hover{
  color: #ee3643;
}

.profile:active {
  color: #c5c5c5;
}

.header-profile-links {
  list-style: none;
}

.header-main-order {
  background-color: #63a63e;
}

.header-main-order:hover {
  background-color: #5fbb2d;
}

.header-main-order:active {
  background-color: #518534;
  color: #a2be93;
}

.navigation {
  background-color: #32425c;
  font-size: 17px;
  list-style: none;
  color: #ffffff;
}

.navigation:hover {
  background-color: #293449;
  }

.navigation:active {
  background-color: #1d2739;
  color: #8e939c;
}

.information-contacts {
  background-color: #f4f7f9;
}

.company-info h2{
  font-size: 30px;
  text-transform: uppercase;
}

.company-info p{
  font-size: 13px;
  font-family: "PT Sans","Arial" sans-serif;
}

.delivery-list {
  list-style: none;
}

.contacts-text-map h2{
  font-size: 30px;
  text-transform: uppercase;
}

.contacts-text-map p{
  font-size: 13px;
}

.primary-button {
  background-color: #ee3643;
  text-transform: uppercase;
  color: #ffffff;
}

.filter-button {
  text-align: center;
  color: #000000;
  background-color: #ffffff;
}

.visually-hidden, h2 {
  background-color: #f2f6f8;
  color: #32425c;
}

.breadcrumbs {
  font-size: 13px;
  list-style: none;
}

.filters-catalog {
  text-transform: uppercase;
  font-size: 17px;
}

.filter-catalog-title {
  font-style: bold;
}

.manufacturers-list, .power-list {
  list-style: none;
}

.catalog-list {
  list-style: none;
}

.catalog-products p {
  font-style: bold;
}

.catalog-products {
  font-style: bold;
  font-size: 18px;
}

.strike {
  color: #999999;
  text-decoration: line-through;
}

.primary-block {
  color: #FFFFFF;
  background-color: #ee3643;
}

.button-add-to-cart {
  color: #FFFFFF;
  background-color: #63a63e;
}

.button-add-to-cart:hover {
  background-color: #5fbb2d;
}
.button-add-to-cart:active {
  background-color: #518534;
}

.button-add-to-bookmark {
  color: #32425c;
  border-color: #63a63e;
  border-style: solid;
}

.button-add-to-bookmark:hover {
  color: #32425c;
  border-color: #32425c;
}

.button-add-to-bookmark:active {
  color: #c1c6ce;
  border-color: #c1c6ce;
}

.pagination-list {
  list-style: none;
}

.footer-page-content,
.footer-catalog-content {
  font-size: 18px;
  background-color: #293449;
  color: #ffffff;
}

.footer-page-content a{
  color: #ffffff;
}

.footer-page-list, .footer-catalog-list {
  list-style: none;
}

.footer-catalog-content a {
  color: #ffd180;
}
.footer-list-copyright {
  font-size: 16px;
  background-color: #293449;
}

.footer-list-copyright p{
  color: #ffffff;
}

.footer-icons-list {
  list-style: none;
}

.footer-copyright {
  color: #ffd180;
}
